<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#">
                <img src="/assets/Extends/mainLogo.png">
            </a>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!isDocumentation()">
                    <a href="#" class="nav-link" target="_blank"> Call<b style="color:red">&nbsp;&nbsp; 713-221-8522
                        </b> to speak to an Admission Counselor <br> or complete the form below to learn more!</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav_2">
    <div>
        <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Degree Programs</a>
            </li>
          
          </ul>
    </div>
</div>

