<div class="section section-buttons ">
    <div class="container">
        <div class="section">
            <div class="container">
                <div class="row example-page">
                    <div class="col-md-6 text-center col-sm-6" routerLinkActive="active">
                        <h2><b>About University of Houseton-Downtown</b></h2>
                        <p style="text-align: left;">
                            UHD is a dynamic university offering bachelor;s and master's degree at multiple locations
                            acrss Houston and online
                            you can design your design your future afrom an acedamic progrm that sparks your passion and
                            connects you iwth fellow
                            students, business and the community.<br>
                            When you step onto our campus its like walking into the heart of downtown Houston. Youre
                            just steps away from Fortune
                            500 companies, world-renowned arts organizations, award-winning restuarents, exciting
                            entertainments and professional sports.
                            UHD is woven into the vibrant streets of the fourth largest city in the united States and
                            has irban appeal that cleevrates the
                            multi cultural vibes of Houston.<br>
                            If your a recent high school graduates, transfer student, or career-changing professional
                            looking for an environment that offers
                            flexibility an sets you up for success, UHD has the right opportunity for you.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <img src="/assets/Extends/rgtImage.jpg" alt="Rounded Image" class="img-rounded img-responsive"
                            style="width: 100%">
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <h3 style="color:blue;font-weight: bold;">Featured Design at UHD</h3><br>
            <p>
                UHD's high undergraduate and graduate degree program were designed with your busy life in mind.
                Weather you're returning to finish your degree or launching an
                entirely new direction. you'll find the flexibility and support you need here.
            </p>
        </div>
        <div class="row">
            <div class="col boxes">BUSINESS</div>
            <div class="col boxes">COMPLETION</div>
            <div class="col boxes">CRIMINAL JUSTICE</div>
            <div class="col boxes" style="background-color: red; color: white;">EDUCATION</div>
          </div>
          <div class="row">
            <div class="col-4 boxes">HUMANITIES & SOCIAL SCIENCE</div>
            <div class="col-2 boxes">PUBLIC SERVICE</div>
            <div class="col-2 boxes"> SCIENCE</div>
          </div>
    <!-- <div class="container"> -->
          <div class="one">

            <div class="two">WHY CHOOSE UHD?</div>
        
            <div class="arrow-down d1"></div>
            <div class="arrow-down d2"></div>
            <div class="arrow-down d3"></div>
        
            <div class="three">
                <div class="three-1 aThird"></div>
                <div class="three-1 aThird"></div>
                <div class="three-1 aThird"></div>
            </div>
            </div>
        <!-- </div> -->

        <div class="container">
            <div class="section">
                <div class="container">
                    <div class="row example-page">
                        <div class="col-12 col-sm-6 col-md-4 text-center" routerLinkActive="active">
                            <h3>Affordability</h3>
                            <p text-align="justify">
                                With the lowest tuition of any university in Houston. UHD Provides an excellent
                                education at an
                                affordable rate,
                                freeing up your income while in school. and leaving you with less debt after graduation.
                                Our goal is
                                to make the financial part
                                of education as stress-free as possible so you focus on earning your degree
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 text-center">
                            <h3>Flexibility</h3>
                            <p text-align="justify">
                                Work-life balance can be tough. That's why we offer a wide range of day, evening,
                                weekend, online
                                and hybrid course options to fit every schedule. UHD ranks #22 among top colleges for
                                adults returning to school according to best college reviews. With locations across
                                Houston and
                                online, we can fit any schedule!
                            </p>
                        </div>
                        <div class="col-12 col-sm-6 col-md-4 text-center">
                            <h3>Earning Ability</h3>
                            <p text-align="justify">
                                UHD ranks as one of the best Texas universities based on alumni salary. First-year
                                earnings of UHD
                                grads are the third highest in the state according to college measures. A degree from
                                UHD
                                will set you up with a strong earning potential.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
          <br />


        </div>